<h1 class="jumbotron">Create a New Post</h1>

<% flash.each do |key, value| %>
    <div class="alert <%= key %>"><%= value %></div>
<% end %>

<%= form_for @post, url: create_post_path do |f| %>

    <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"%>
    </div>
    
    <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
    </div>

    <%= f.submit "Create Post", class: "btn btn-primary" %>

<% end %>