<h1> <%= @bean.name %> </h1>

<p>This coffee is a <%= @bean.roast %> roast from <%= @bean.origin %>, and we have <%= @bean.quantity %> pounds available.</p>

<%= link_to "Delete this bean!", bean_path, method: :delete, data: { confirm: "Do you really want to delete this????"} %>

<%= link_to "Back to the list!", beans_path %>