<p id="notice"><%= notice %></p>

<h1>Listing Pastries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Flavor</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pastries.each do |pastry| %>
      <tr>
        <td><%= pastry.name %></td>
        <td><%= pastry.flavor %></td>
        <td><%= pastry.price %></td>
        <td><%= link_to 'Show', pastry %></td>
        <td><%= link_to 'Edit', edit_pastry_path(pastry) %></td>
        <td><%= link_to 'Destroy', pastry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pastry', new_pastry_path %>
