<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pastry.name %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @pastry.flavor %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pastry.price %>
</p>

<%= link_to 'Edit', edit_pastry_path(@pastry) %> |
<%= link_to 'Back', pastries_path %>
